<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns="http://www.w3.org/1999/xhtml"
      ng-app="AIpro">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes"/>
    <link href="a" th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.css}" rel="stylesheet"/>
    <script src="http://cdn.jsdelivr.net/webjars/org.webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
    <script src="http://cdn.jsdelivr.net/webjars/angularjs/1.3.15/angular.min.js"
            th:src="@{/webjars/angularjs/1.4.0/angular.min.js}"></script>
    <script src="http://cdn.jsdelivr.net/webjars/org.webjars/bootstrap/3.3.6/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
    <script src="a" th:src="@{/js/App.js}"/>
    <!--<script src="a" th:src="@{/js/index.js}"/>-->
</head>
<body>
<div class="container">

    <div th:replace="fragments/header :: header">
        <!-- ============================================================================ -->
        <!-- This content is only used for static prototyping purposes (natural templates)-->
        <!-- and is therefore entirely optional, as this markup fragment will be included -->
        <!-- from "fragments/header.html" at runtime.                                     -->
        <!-- ============================================================================ -->
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Static header</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <form>
        <fieldset>
            <legend>Twoje dane:</legend>
            <div class="row">
                <div class="col-sm-4" >Login</div>
                <div class="col-sm-8" sec:authentication="name"></div>
                <div class="col-sm-4" >Rola</div>
                <div class="col-sm-8" sec:authentication="principal.authorities"></div>

            </div>
        </fieldset>
    </form>



</div>
</body>
</html>